html {
  background: #0b0b0f;
  color: #fff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a.active {
  color: #0075ff;
}



.market-profile-chart {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.summary {
  margin-bottom: 20px;
}

.profile {
  margin-top: 20px;
}

.price-level {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.price-label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

.tpo-bar {
  height: 20px;
}

.tpo-count {
  margin-left: 10px;
}
